body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

section {
    margin-bottom: 120px;
}

.landing-about {
    display: flex;
}

.half-width {
    width: 40%;
    padding-left: 5%;
    padding-right: 5%;
}

.half-width img {
    width: 95%;
}

h1 {
    font-size: 52px;
}

h2 {
    font-size: 40px;
}

h3 {
    color:orange;
}

p {
    color:#69697F;
}


.half-width  h1 span {
    color: orange;
}

.half-width  a {
    text-decoration: none;
    color: #fff;
    padding: 10px 40px;
    border-radius: 5px;
    background-image: linear-gradient(to right, salmon,tomato);
}


#landing {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

#about {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

#experince-section{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.flex-container {
    display: flex;
}

.ex-item {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    padding-left: 20px;
    padding-bottom: 100px;
    box-shadow: 10px 10px 60px gray;
}

.stack-dev {
    border-left: 8px solid;
    border-image: linear-gradient(salmon,tomato);
    border-image-slice: 1;
}

.baby-dev {
    border-left: 8px solid;
    border-image: linear-gradient(#0005FF,#85CBEB);
    border-image-slice: 1;
}

footer {
    text-align: center;
}
