body {
    font-family: 'Poppins', sans-serif;
}

p {
    color:#69697F;
}

#landing {
    display: flex;
}

.half-width {
    width: 40%;
    padding-left: 5%;
    padding-right: 5%;
}

#landing h1 {
    font-size: 52px;
}

#landing h1 span {
    color: orange;
}

#landing a {
    text-decoration: none;
    color: #fff;
    padding: 10px 40px;
    border-radius: 5px;
    background-image: linear-gradient(to right, salmon,tomato);
}

#landing .half-width img {
    width: 95%;
    
}

