body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

p {
    color:#69697F;
}

section {
    margin-bottom: 120px;
    display: flex;
}

.half-width {
    width: 40%;
    padding-left: 5%;
    padding-right: 5%;
}

.half-width img {
    width: 95%;
}

.half-width h1 {
    font-size: 52px;
}

.half-width  h1 span {
    color: orange;
}

.half-width  a {
    text-decoration: none;
    color: #fff;
    padding: 10px 40px;
    border-radius: 5px;
    background-image: linear-gradient(to right, salmon,tomato);
}


#landing {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

#about {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}


